doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Word
        link(rel="stylesheet", href="../assets/style/word.css")
        link(rel="stylesheet", href="../assets/style/phone.css")
        script(src="../assets/scripts/roles.js")
        script(src="../assets/scripts/parser.js")
    body
        input#description-placeholder(type="text", name="description", hidden, value=`${word.description}`)
        input#synonyms-placeholder(type="text", name="synonyms", hidden, value=`${word.synonyms}`)
        img#back(src="../assets/images/left-arrow.png", title="Go back", onclick="history.back()")
        .center
            .main-container
                .title-container
                    h1 #{word.name}
                .info-container
                    div
                        h1 
                            span.key-word Translation:
                            span  #{word.english}
                        h1 
                            span.key-word Role:
                            span#role
                        h1 
                            span.key-word Etymology:
                            span  #{word.etymology}
                        h1 
                            span.key-word Synonyms:
                            span#synonyms-text
                .description-container#description-container
                    h2
    script document.querySelector('#role').innerHTML = " " + roles[!{word.role}];
    script const description = document.querySelector('#description-placeholder').value;
    script const synonyms = document.querySelector('#synonyms-placeholder').value;
    script document.querySelector('#description-container h2').innerHTML = parse(description);
    script document.querySelector('#synonyms-text').innerHTML = synonymsParse(synonyms);